<div class="main_middle">
  <div class="upper-message">
    <div class="chat_user">
      <%= message.user.name%>

    </div>
    <div class="chat_time">
      <%= message.created_at %>

    </div>
  </div>
  <div class="lower-message">
    <div class="chat_content">
      <%= message.content%>

    </div>
  </div>
</div>